<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>addBook</servlet-name>
        <jsp-file>/WEB-INF/addBookPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addWriter</servlet-name>
        <jsp-file>/WEB-INF/addWriter.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addWriter</servlet-name>
        <url-pattern>/addWriter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.company.library.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadController</servlet-name>
        <servlet-class>com.company.library.controller.UploadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadController</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>filter</filter-name>
        <filter-class>com.company.library.controller.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
</web-app>